@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "Bebas Neue", cursive;
  --font-secondary: "Inter", sans-serif;
  --color-dark-800: #212529;
  --color-gray-400: #dddddd;
  --base-transition: 0.4s ease;
  --radius-10: 10px;
  --color-purple-600: #7c27ce;
  --color-light-100: #fff;
}

label,
input {
  font-family: var(--font-secondary);
}

.page-heading {
  font-family: var(--font-primary);
  font-size: 4rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-dark-800);
}
.page-description {
  font-family: var(--font-secondary);
  text-align: center;
  margin-bottom: 1.5rem;
}

.lift-simulator__information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lift-simulator__home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  transition: var(--base-transition);
}

.lift-simulator__input {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: var(--radius-10);
  margin-top: 5px;
  min-width: 250px;
  border: 2px solid var(--color-gray-400);
  transition: var(--base-transition);
}

.lift-simulator__input:focus {
  border-color: var(--color-dark-800);
}

.lift-simulator__input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.lift-simulator__button {
  margin-top: 1rem;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-family: var(--font-primary);
  border: 2px solid var(--color-gray-400);
  border-radius: var(--radius-10);
  cursor: pointer;
  transition: var(--base-transition);
}

.lift-simulator__button:hover {
  background: var(--color-purple-600);
  border: 2px solid var(--color-purple-600);
  color: var(--color-gray-400);
}

.lift-simulator__home.hide {
  opacity: 0;
  display: none;
}

.floor-content-container {
  padding: 0 7rem;
  border-bottom: 2px solid var(--color-gray-400);
  min-height: 184px;
  display: flex;
  align-items: flex-end;
  gap: 5rem;
}

.floor-title {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 1.5rem;
  font-family: var(--font-primary);
}

.floor-button-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.floor-container {
  padding: 1rem 1rem 0;
  position: relative;
}

.floor-button-container button {
  padding: 10px 12px;
  font-family: var(--font-secondary);
  border: unset;
  margin-bottom: 5px;
  border-radius: 5px;
  color: var(--color-light-100);
  cursor: pointer;
  transition: var(--base-transition);
}

.floor-button-container button:hover {
  opacity: 0.85;
}

button[data-floor-direction="up"] {
  background: var(--color-purple-600);
}

button[data-floor-direction="down"] {
  background: var(--color-dark-800);
}

.lift-container {
  width: 80px;
  height: 150px;
  background: var(--color-purple-600);
  transition: var(--base-transition);
}
